@page "/controller"
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<PageTitle>設定 - ルーレット</PageTitle>

<h1>ルーレットの設定</h1>

@if (_openerIsClosed)
{
    <p>
        ルーレットのウィンドウとのリンクが切れました。<br />
        ウィンドウを閉じましたか？
    </p>
}

<button class="btn btn-warning" @onclick="Update">更新</button>

@code {
    private bool _openerIsClosed;

    private async Task Update()
    {
        _openerIsClosed = !await JS.InvokeAsync<bool>("updateConfig", DateTime.Now.ToString("HH:mm:ss"));
    }
}
