@page "/"
@implements IDisposable
@inject IJSRuntime JS
@inject UpdateConfigEventSource UpdateConfigEventSource
@inject NavigationManager NavigationManager

<PageTitle>ルーレット</PageTitle>

<h1>ルーレット</h1>

<p>@_config?.Items.Count()</p>
@if (_config?.Items is [.., { } v])
{
    <p>@v.Name</p>
}

<button class="btn btn-primary" @onclick="OpenControllerAsync">コントローラを開く</button>

@code {
    [SupplyParameterFromQuery(Name = "url")]
    private string? Url { get; set; }

    [SupplyParameterFromQuery(Name = "config")]
    private string? Config { get; set; }

    private RouletteConfig? _config;

    protected override void OnInitialized()
    {
        UpdateConfigEventSource.OnUpdateConfig += On;

        if (Url is { })
        {
            if (string.IsNullOrEmpty(new Uri(Url).Host)) NavigationManager.NavigateTo(Url, false, true);
            else NavigationManager.NavigateTo(NavigationManager.BaseUri, false, true);
        }
        else
        {
            if (Config is { })
            {
                _config = JsonSerializer.Deserialize<RouletteConfig>(Config);
            }
            else
            {
                On(new RouletteConfig { Items = [] });
            }
        }
    }

    void IDisposable.Dispose()
    {
        UpdateConfigEventSource.OnUpdateConfig -= On;
    }

    private async Task OpenControllerAsync()
    {
        await JS.InvokeVoidAsync("openController", Config);
    }

    private void On(RouletteConfig config)
    {
        _config = config;
        Config = JsonSerializer.Serialize(_config, new JsonSerializerOptions(JsonSerializerDefaults.Web) { DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull });
        var url = NavigationManager.GetUriWithQueryParameter("config", Config);
        NavigationManager.NavigateTo(url);

        StateHasChanged();
    }
}
