@page "/"
@implements IDisposable
@inject IJSRuntime JS
@inject UpdateConfigEventSource UpdateConfigEventSource
@inject NavigationManager NavigationManager

<PageTitle>ルーレット</PageTitle>

<div style="max-width: 600px; margin: 0 auto;">
    <h1>ルーレット</h1>

    <p>@_config?.Items!.Count()</p>
    @if (_config?.Items is [.., { } v])
    {
        <p>@v.Name</p>
    }

    <button class="btn btn-primary" @onclick="OpenControllerAsync">設定</button>

    <div>
        hash: <code title="@Program.CommitHash">@(Program.CommitHash.Length > 7 ? Program.CommitHash[..7] : Program.CommitHash)</code>
    </div>
</div>

@code {
    [SupplyParameterFromQuery(Name = "url")]
    private string? Url { get; set; }

    [SupplyParameterFromQuery(Name = "data")]
    private string? Data { get; set; }

    private RouletteConfig? _config;

    protected override void OnInitialized()
    {
        UpdateConfigEventSource.ConfigUpdated += OnConfigUpdated;
    }

    void IDisposable.Dispose()
    {
        UpdateConfigEventSource.ConfigUpdated -= OnConfigUpdated;
    }

    protected override void OnParametersSet()
    {
        if (Url is { })
        {
            if (string.IsNullOrEmpty(new Uri(Url).Host)) NavigationManager.NavigateTo(Url, false, true);
            else NavigationManager.NavigateTo(NavigationManager.BaseUri, false, true);
        }
        else
        {
            if (Data is { })
            {
                _config = Serializer.Deserialize<RouletteConfig>(Data);
            }
            else
            {
                FlushParameter(new RouletteConfig { Items = [] });
            }
        }
    }

    private async Task OpenControllerAsync()
    {
        await JS.InvokeVoidAsync("openController", Data);
    }

    private void FlushParameter(RouletteConfig config)
    {
        var data = Serializer.Serialize(config);
        var url = NavigationManager.GetUriWithQueryParameter("data", data);
        NavigationManager.NavigateTo(url);
    }

    private void OnConfigUpdated(RouletteConfig config)
    {
        FlushParameter(config);
        StateHasChanged();
    }
}
