.toggle-header {
    cursor: pointer;
    user-select: none;
}

.toggle-header .triangle {
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 0.85em;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
}

.toggle-header .triangle.open {
    transform: rotate(0deg);
}
