<h5 class="toggle-header @HeaderClass" @onclick="Toggle">
    <span class="triangle @(IsOpen ? "open" : string.Empty)">▼</span> @Title
</h5>
@if (IsOpen)
{
    @ChildContent
}

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }
    [Parameter] public string? HeaderClass { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private void Toggle()
    {
        IsOpen = !IsOpen;
        IsOpenChanged.InvokeAsync(IsOpen);
    }
}
