.toggle-header {
    cursor: pointer;
    user-select: none;
}

.toggle-header .triangle {
    display: inline-block;
    transform: rotate(-90deg);
}

.toggle-header .triangle.open {
    transform: rotate(0deg);
}
